body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

h1, h4 {
  font-size: 1.5rem;
  line-height: 1.2; }

h2 {
  font-size: 1.1rem;
  line-height: 1.3; }

h3 {
  position: relative;
  padding-left: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #6ba4a3;
  line-height: 1.25; }
  h3:before {
    position: absolute;
    top: -0.1rem;
    left: 0.3rem;
    content: '';
    display: block;
    width: 11px;
    height: 20px;
    border: solid #464a4c;
    border-width: 0 3px 3px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.btn {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.landing--primary-background {
  background-color: rgba(162, 218, 217, 0.4); }

.landing--btn-action {
  font-weight: 500; }

.landing--main {
  padding-top: 3rem; }
  .landing--main-shadow {
    left: 0;
    right: 0;
    bottom: 0;
    height: 10%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.13) 0, transparent 15px); }
  .landing--main-container {
    height: 49rem;
    border-bottom: solid 1px #eceeef;
    overflow: hidden; }

.landing--features-heading {
  font-size: 1.5rem; }
  .landing--features-heading:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 1px;
    background-image: linear-gradient(to right, #636c72 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x; }
  .landing--features-heading span {
    background: #fff; }

.landing--feature cite {
  color: #636c72;
  font-size: 0.75rem; }
  .landing--feature cite:before {
    content: "* ";
    font-size: 1rem; }

.landing--feature img {
  width: 100%;
  max-width: 25rem; }

.landing--feature p {
  font-size: 1.1rem; }
  .landing--feature p sup {
    top: -0.2em;
    font-size: 1rem; }

.landing--footer {
  font-size: 0.875rem;
  background-color: #eceeef;
  border-top: solid 1px rgba(70, 74, 76, 0.1); }
  .landing--footer p {
    margin: 0; }
  .landing--footer ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0.5rem; }
    .landing--footer ul a {
      color: #292b2c;
      font-weight: 500;
      text-decoration: initial; }
  .landing--footer a {
    text-decoration: underline; }

@media (min-width: 768px) {
  h1 {
    margin-bottom: 1rem;
    font-size: 1.75rem; }
  h2 {
    font-size: 1.15rem; }
  .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .landing--main {
    padding-top: 0; }
    .landing--main-container {
      height: 34rem; }
  .landing--value-proposition {
    position: relative;
    top: 14.5rem;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .landing--value-proposition.sticky {
      position: fixed;
      -ms-transform: none;
          transform: none; }
  .landing--product-image {
    width: 102%; }
  .landing--feature {
    min-height: 12rem; }
    .landing--feature cite {
      top: 105%;
      right: 0; }
    .landing--feature img {
      width: auto;
      height: 12rem; }
    .landing--feature-text {
      top: 6rem;
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); } }

@media (min-width: 992px) {
  .landing--main {
    max-width: 1336px; }
    .landing--main-container {
      height: 46rem; }
  .landing--value-proposition {
    top: 20.5rem; }
  .landing--product-image {
    width: 105%; }
  .landing--features, .landing--features h3 {
    width: 80%; } }

@media (min-width: 1200px) {
  .landing--main-container {
    height: 52rem; }
  .landing--value-proposition {
    top: 23.5rem; }
  .landing--product-image {
    width: 102%; } }

/*# sourceMappingURL=landing.css.map*/